<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Список</title>
</head>

<body>

<!--<header th:replace="fragments/header :: header(home='true', login='false', services='false', contact='false',-->
<header th:replace="fragments/header">&nbsp;
</header>

<!--<hr/>-->

<main class="container my-2 main" role="main">

    <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">-->
    <!--        <div class="collapse navbar-collapse justify-content-md-center">-->
    <!--            <ul class="navbar-nav">-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link" th:href="@{/}">Главная</a>-->
    <!--                </li>-->
    <!--                <li class="nav-item">-->
    <!--                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true" href="#">Книги</a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </nav>-->

    <!--    <h3 align="center">Список</h3>-->

    <!--   Search Bar   -->
    <nav class="navbar navbar-light bg-light">
        <a class="padding5px nav-link disable" th:href="@{/admin/}"
           data-toggle="tooltip" data-placement="top" title="Сброс">
            <img th:src="@{/resources/open-iconic/png/reload-3x.png}"></a>

        <a type="button" class="btn btn-danger btn-sm px-3" th:href="@{/admin/deleteAll}"
           data-toggle="tooltip" data-placement="top" title="Удалить всё">
            <i class="fas fa-times">X</i>
        </a>

        <a class="padding5px btn btn-sm btn-secondary" th:href="@{/admin/import}"
           role="button"
           data-toggle="tooltip" data-placement="top" title="Импортировать данные">
    <span class="fa fa-search form-control-feedback"><img th:src="@{/resources/octicons/database-24.svg}">
    </span>Импорт</a>

        <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/admin/search}">
            <input type="hidden" th:value="${sortField}" name="sortField">
            <input type="hidden" th:value="${sortDir}" name="sortDir">
            <input type="hidden" th:value="${reverseSortDir}" name="reverseSortDir">
            <input type="hidden" th:value="${pageSize}" name="pageSize">

            <div class="form-inline">
                <span class="navbar-text">использовать регулярные выраж.</span>
                <input class="form-check-input" type="checkbox" id="defaultCheck1" name="regex">
                <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback">
            <img th:src="@{/resources/octicons/search-24.svg}">
          </span>
                    <input class="form-control mr-sm-2" type="text" required placeholder="Search" name="keyword"
                           aria-label="Search">
                </div>

                <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Искать во всех полях</button>
            </div>
        </form>
    </nav>

    <!--   Table Start   -->
    <table border="1" cellpadding="5" class="table table-hover table-sm table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="row">
                <input type="checkbox" id="idSelectAll" class="select-all checkbox " name="select-all"/>

                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + '&pageSize=' + ${pageSize}}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_active3.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по ID's"
                         th:if="${#strings.equalsIgnoreCase(sortField, 'ID')}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_invert.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по ID's"
                         th:if="${!#strings.equalsIgnoreCase(sortField, 'ID')}">
                    # ID</a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir} + '&pageSize=' + ${pageSize}}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_active3.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по Именам"
                         th:if="${#strings.equalsIgnoreCase(sortField, 'username')}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_invert.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по Именам"
                         th:if="${!#strings.equalsIgnoreCase(sortField, 'username')}">
                    Имя</a>
            </th>
            <th scope="col"><a
                    th:href="@{'/admin/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + '&pageSize=' + ${pageSize}}">
                <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_active3.png}"
                     data-toggle="tooltip" data-placement="top" title="Сортировать по Почте"
                     th:if="${#strings.equalsIgnoreCase(sortField, 'email')}">
                <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_invert.png}"
                     data-toggle="tooltip" data-placement="top" title="Сортировать по Почте"
                     th:if="${!#strings.equalsIgnoreCase(sortField, 'email')}">
                Почта</a>
            </th>
            <th scope="col">
                <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=role&sortDir=' + ${reverseSortDir} + '&pageSize=' + ${pageSize}}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_active3.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по Правам"
                         th:if="${#strings.equalsIgnoreCase(sortField, 'role')}">
                    <img th:src="@{/resources/open-iconic/png/sort-ascending-2x_invert.png}"
                         data-toggle="tooltip" data-placement="top" title="Сортировать по Правам"
                         th:if="${!#strings.equalsIgnoreCase(sortField, 'role')}">
                    Права</a>
            </th>
            <th scope="col">Опции</th>
        </tr>
        </thead>

        <tbody>
        <!-- Filter Form -->
        <tr>
            <form class="form-inline" th:action="@{/admin/filter}" method="get">
                <input type="hidden" th:value="${sortField}" name="sortField">
                <input type="hidden" th:value="${sortDir}" name="sortDir">
                <input type="hidden" th:value="${reverseSortDir}" name="reverseSortDir">
                <input type="hidden" th:value="${pageSize}" name="pageSize">

                <th scope="row"><input class="form-control" type="text" name="idKey" placeholder="id"></th>
                <td><input class="form-control" type="text" name="userNameKey" placeholder="имя"></td>
                <td><input class="form-control" type="text" name="emailKey" placeholder="почта"></td>
                <td><input class="form-control" type="text" name="roleKey" placeholder="права"></td>

                <td>
                    <div class="form-inline">
                        <div class="d-inline">regex .</div>
                        <input class="form-check-input d-inline" type="checkbox" name="regex"
                               data-toggle="tooltip" data-placement="top" title="Использовать регулярные выражения">
                        <button type="submit" class="btn btn-sm btn-outline-secondary d-inline">Фильтровать
                        </button>
                    </div>
                </td>
            </form>
        </tr>

        <!-- Load Data -->
        <tr th:each="item : ${list}">
            <th scope="row">
                <input th:id="${item.id}" th:value="${item.id}" class="cl_checkbox select-item checkbox" type="checkbox"
                       name="checkedid select-item"/>
                <label th:text="${item.id}"/>
            </th>

            <td th:text="${item.username}"></td>
            <td th:text="${item.email}"></td>
            <td th:text="${item.role}"></td>

            <td><a th:href="@{/admin/update/{id}(id=${item.id})}" class="btn btn-primary btn-sm">Обновить</a>
                <a th:href="@{/admin/delete/{id}(id=${item.id})}" class="btn btn-danger btn-sm">
                    <img th:src="@{/resources/octicons/trash-16.svg}"></a>
            </td>

        </tr>

        <!-- Del Button and Add Form-->
        <tr>
            <form class="form-inline" th:action="@{/admin/saveForm}" method="post" modelAttribute="form"
                  th:object="${form}">

                <td>
                    <div class="form-group row"
                         th:classappend="${!#fields.hasErrors('username')} ? class : was-validated">
                        <div class="col-sm-10">
                            <label for="inputState" class="col-sm-4 col-form-label font-weight-bold">Имя</label>
                            <input th:field="*{username}" class="form-control" placeholder="имя" type="text"
                                   th:classappend="${!#fields.hasErrors('username')} ? class : invalid"/>
                        </div>
                        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error"
                           class="invalid-feedback">
                            Incorrect username</p>
                    </div>
                </td>

                <td>
                    <div class="form-group row"
                         th:classappend="${!#fields.hasErrors('email')} ? class : was-validated">
                        <div class="col-sm-10">
                            <label for="inputState" class="col-sm-4 col-form-label font-weight-bold"> Почта</label>
                            <input th:field="*{email}" class="form-control" placeholder="почта" type="text"
                                   th:classappend="${!#fields.hasErrors('email')} ? class : invalid"/>
                        </div>
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error"
                           class="invalid-feedback">
                            Incorrect email</p>
                    </div>
                </td>

                <td>
                    <div class="form-group row"
                         th:classappend="${!#fields.hasErrors('role')} ? class : was-validated">

                        <div class="col-sm-6">
                            <label for="inputState" class="col-sm-4 col-form-label font-weight-bold">Роль</label>
                            <select id="inputState" class="form-control" name="role"
                                    th:classappend="${!#fields.hasErrors('role')} ? class : invalid">
                                <option value="ADMIN" selected>ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>

                        <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}" th:errorclass="error"
                           class="invalid-feedback">
                            Incorrect role</p>
                    </div>
                </td>

                <td>
                    <div class="form-group row"
                         th:classappend="${!#fields.hasErrors('password')} ? class : was-validated">
                        <div class="col-sm-10">
                            <label for="inputState" class="col-sm-4 col-form-label font-weight-bold">Пароль</label>
                            <input th:field="*{password}" class="form-control" placeholder="пароль" type="text"
                                   th:classappend="${!#fields.hasErrors('password')} ? class : invalid"/>
                        </div>
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error"
                           class="invalid-feedback">
                            Incorrect password</p>
                    </div>
                </td>

                <td>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <br/>
                            <button type="submit" value="Добавить" class="btn btn-sm bg-info btn-outline-secondary">
                                <img th:src="@{/resources/octicons/checklist-24.svg}"> Добавить
                            </button>
                        </div>
                    </div>
                </td>
            </form>
        </tr>

        </tbody>
    </table>

    <!-- >>> PAGINATION  -->
    <nav class="navbar navbar-light bg-light fixed-table-pagination">
        <div class="float-left pagination-detail">

            <button onclick="btnUseCheckedBoxesAndDelAndRedirect()" class="btn btn-sm btn-warning btn-sm mb-3"
                    data-toggle="tooltip" data-placement="top" title="Удалить Выбранное в checkbox">
                <!--                    <img th:src="@{/resources/octicons/trash-24.svg}">Удалить-->
                <img th:src="@{/resources/open-iconic/png/trash-2x.png}">Удалить
            </button>

            <span class="pagination-info">   Всего записей: [[${totalItems}]]</span>

            <div class="btn-group dropup">
                <button class="btn btn-secondary btn-sm" type="button">Записей на страницу</button>
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       th:href="@{'/admin/page/' + '1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + '5'}">5</a>
                    <a class="dropdown-item"
                       th:href="@{'/admin/page/' + '1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + '10'}">10</a>
                    <a class="dropdown-item"
                       th:href="@{'/admin/page/' + '1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + '15'}">15</a>
                    <a class="dropdown-item"
                       th:href="@{'/admin/page/' + '1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + '25'}">25</a>
                </div>
            </div>

        </div>

        <div class="float-right pagination">
            <ul class="pagination" id="ulPageId">

                <li class="page-item page-pre padding5px">
                    <a class="page-link" aria-label="to page‹" th:if="${currentPage > 3}"
                       th:href="@{'/admin/page/' + ${1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">Первая</a>
                    <span th:unless="${currentPage > 5}"></span>
                </li>

                <!-- Prev -->
                <li class="page-item page-pre">
                    <a class="page-link" aria-label="to page‹" th:if="${currentPage > 1}"
                       th:href="@{'/admin/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">‹</a>
                    <span th:unless="${currentPage > 1}"></span>
                </li>

                <!-- Pages Links -->
                <span th:each="i: ${#numbers.sequence(1, totalPages)}" th:if="${totalPages > 2}">
                      <li th:if="${currentPage != i}" class="page-item">
                        <a class="page-link"
                           th:href="@{'/admin/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
                      </li>
                      <li th:unless="${currentPage != i}" class="page-item active">
                        <a class="page-link">[[${i}]]</a>
                      </li>  &nbsp; &nbsp;
                    </span>

                <!-- Next -->
                <li class="page-item page-next">
                    <a class="page-link" aria-label="to page›" th:if="${currentPage < totalPages}"
                       th:href="@{'/admin/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">›</a>
                    <span th:unless="${currentPage < totalPages}"></span>
                </li>

                <li class="page-item page-next">
                    <a class="page-link" aria-label="to page›" th:if="${currentPage > 3}"
                       th:href="@{'/admin/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&pageSize=' + ${pageSize}}">последняя</a>
                    <span th:unless="${currentPage < totalPages}"></span>
                </li>

            </ul> <!-- <ul class="pagination" id="ulPageId"> -->
        </div><!--     <div class="float-right pagination"> -->
    </nav>
    <!--  PAGINATION <<< -->

    <br/>
    <br/>
    <br/>
</main> <!-- <div class="container my-2"> -->

<hr/>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/footer :: scripts}"></div>
<script th:src="@{/resources/js/admin_list.js}"></script>

</body>
</html>
