<!DOCTYPE html>
<!-- xmlns:th="http://www.w3.org/1999/xhtml"  - импорт th-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>data from model to View</title>
</head>
<body>
<a href="./">Go too Main Page</a>

<form action="./dataFromModelToView">
    <label> Param firstParam: <input name="firstParam"> </label>
    <label> Param secondParam: <input name="secondParam"> </label>
    <button>Send Request</button>
</form>

<!-- ThymeLeaf - шаблонизатор берет из можели ключи и выводит представление -->
<p th:text="${firstParam}"/>
<p th:text="${secondParam}"></p>

</body>
</html>