<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Employee Management System</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Employees List</h1>
    <a class="btn btn-secondary" th:href="@{/}" role="button">to main page</a>

    <a class="padding5px btn btn-secondary" th:href="@{/empl2/importTestData}" role="button"
       data-toggle="tooltip" data-placement="top"
       title="Импортировать тестовые данные (Import Test Data)">
        <!--                <span class="fa fa-search form-control-feedback"><img src="${contextPath}/resources/octicons/database-24.svg"></span>-->
        Import</a>

    <a th:href="@{/empl2/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/empl2/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                    ID</a>
            </th>
            <th>
                <a th:href="@{'/empl2/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                    Employee First Name</a>
            </th>
            <th>
                <a th:href="@{'/empl2/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                    Employee Last Name</a>
            </th>
            <th>
                <a th:href="@{'/empl2/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                    Employee Email</a>
            </th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${listEmployees}">

            <!-- ___ https://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#checkbox-fields ___ -->
            <!-- <tr>
            <td><form:label path = "${employee.receivePaper}">Subscribe Newsletter</form:label></td>
            <td><form:checkbox path = "${employee.receivePaper}" /></td>
        </tr> -->
            <!-- <td form:checkbox="${employee.receivePaper}"></td> -->
            <!-- <input type="checkbox" th:field="${employee.receivePaper}" /> -->
            <!-- <td form:checkbox="${employee.receivePaper}"></td> -->

            <td>
                <input
                        th:id="${employee.id}"
                        th:value="${employee.id}"
                        class="id_checkbox"
                        type="checkbox"
                        name="checkedid"
                />
                <label for="features3" th:text="${employee.id}"/>
            </td>

            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td><a th:href="@{/empl2/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/empl2/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class="col-sm-1">
								<span th:each="i: ${#numbers.sequence(1, totalPages)}">
									<a th:if="${currentPage != i}"
                                       th:href="@{'/empl2/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
									<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
								</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage > 1}"
                   th:href="@{'/empl2/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Prev</a>
                <span th:unless="${currentPage > 1}">Prev</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/empl2/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}"
                   th:href="@{'/empl2/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/myJs.js}"></script>

</body>
</html>