<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head(~{::title})">
    <title>Book shelf login</title>
</head>

<body>
<header th:replace="fragments/header :: header(home='false', login='true', services='false', contact='false',
current_user='user', user_loggIn='loggedIn' )">&nbsp;
</header>

<hr/>
<div class="container">
    <br/>

    <div th:if="${#bools.isTrue(loggedIn)}" class="alert alert-primary" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        You are already logged in!
    </div>

    <div th:if="${#bools.isTrue(FAIL)}" class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Wrong username or password, please try again.
    </div>

    <div class="d-flex justify-content-center h-100" id="formContent">

        <div class="fadeIn first">
            <!--        <img class="login_item" th:src="@{/resources/images/book_icon.png}">-->
            <img src="resources/images/book_icon.png" id="icon">
        </div>

        <form th:if="${#bools.isTrue(!loggedIn)}" class="col-12 col-lg-4 mb-5 mb-3 mb-lg-0 border rounded"
              method="post" th:action="@{/login/auth}" th:object="${loginForm}">

            <div class="form-group row">
                <label for="colFormLabelSm" class="col-form-label">Username</label>
                <div class="col-sm-12">
                    <input id="colFormLabelSm" class="form-control"
                           type="text" placeholder="enter username" th:field="*{username}">
                </div>
                <small id=" emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group row">
                <label for="colFormLabelSm1" class="col-form-label">Password</label>
                <div class="col-sm-12">
                    <input id="colFormLabelSm1" class="form-control"
                           type="password" placeholder="password" th:field="*{password}">
                </div>
            </div>


            <div class="form-group row">
                <!--                                <div class="form-check row form-group">-->
                <!--                                    <div class="col-sm-10 col-md-4">-->
                <!--                                        <input class="form-check-input" id="exampleCheck1" type="checkbox">-->
                <!--                                    </div>-->
                <!--                                    <label class="form-check-label col-md-4" for="exampleCheck1">Remember me</label>-->
                <!--                                </div>-->

                <div class="form-group row col-md-3">
                    <div class="col-sm-10">
                        <button class="btn btn-primary" type="submit" value="login">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <br/>
    <p class="user-class" th:class="${isAdmin} ? admin-class : user-class ">Some Text 1</p>
    <p th:class="${isAdmin} ? admin-class : user-class ">Some Text</p>
    <p th:class="${isAdmin} ? admin-class : '' ">Some Text 3</p>
    <br/>

    <div th:object="${user}">
        <p>Hello: <span th:text="*{name}?: '(no name specified)'">bro</span>.</p>
    </div>
    <br/>

    <!-- end container -->
</div>

<hr class="navbar fixed-bottom"/>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<div th:replace="~{fragments/footer :: scripts}"></div>

</body>
</html>
