<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>All Employees</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
  <div class="container my-2">
    <div class="card">
      <div class="card-body">
        <div th:switch="${employees}" class="container my-5">
          <p class="my-5">
            <a href="/edit" class="btn btn-primary">
              <i class="fas fa-user-plus ml-2"> Add Employee </i></a>
            </p>
            <div class="col-md-10">
              <h2 th:case="null">No record found !!</h2>

              <h5>Here Context Path</h5>
              <div id="contextId" th:text="@{/}"/>
              <div th:href="@{/}">main Path</a>
                <div class="request" th:text="${#request.contextPath}"/>

                <a class="padding5px btn btn-secondary" href="./importTestData" role="button"
                data-toggle="tooltip" data-placement="top" title="Импортировать тестовые данные (Import Test Data)">
                <span class="fa fa-search form-control-feedback"><img src="${contextPath}/resources/octicons/database-24.svg"></span>
                Import</a>

                <div th:case="*">
                  <table class="table table-striped table-responsive-md">
                    <thead>
                      <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="employee : ${employees}">
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.lastName}"></td>
                        <td th:text="${employee.email}"></td>
                        <td>
                          <a th:href="@{/edit/{id}(id=${employee.id})}" class="btn btn-primary">
                            <i class="fas fa-user-edit ml-2"></i>
                          </a>
                        </td>
                        <td>
                          <a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-primary">
                            <i class="fas fa-user-times ml-2"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- ................................................................................................................................... -->

                  <!-- dropdown Menu -->
                  <div class="fixed-table-pagination" style="">
                    <div class="float-left pagination-detail">
                      <span class="pagination-info">
                        Текущая страница #<span type="hidden" id="currentPage" th:text ="${currentPage}"/>
                        из <span id="totalPages" th:text ="${totalPages}"/>
                      </span>
                      <span class="page-list">
                        <span class="btn-group dropdown dropup">

                          <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <span class="page-size">10</span>
                            <span class="caret"></span>
                          </button>

                          <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown link
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div>

                          <div class="dropdown-menu" style="">
                            <a class="dropdown-item active" href="#">10</a>
                            <a class="dropdown-item " href="#">25</a>
                            <a class="dropdown-item " href="#">50</a>
                            <a class="dropdown-item " href="#">100</a>
                          </div>

                        </span> елементов на странице
                      </span>
                    </div>

                    <!-- Pagination -->
                    <div class="float-right pagination">
                      <ul class="pagination" id="ulPageId">

                      </ul>
                    </div>

                    <script>
                    const ulPageId = document.querySelector('#ulPageId')
                    const totalPages = document.querySelector('#totalPages')
                    const currentPage = document.querySelector('#currentPage')
                    let isCurrentPage = parseInt(currentPage.textContent)
                    let countPages =  parseInt(totalPages.textContent)

                    // previous
                    if(isCurrentPage==0) addLiElement(ulPageId, 'page-item page-pre', './list3?pageNo=0', '‹')
                    else addLiElement(ulPageId, 'page-item page-pre', './list3?pageNo='+(isCurrentPage-1), '‹')

                    for (var i = 0; i < (countPages+1); i++) {
                      if(isCurrentPage==i) addLiElement(ulPageId, 'page-item active', './list3?pageNo='+i, i )
                      else  addLiElement(ulPageId, 'page-item', './list3?pageNo='+i, i )

                      // console.log(typeof counted.textContent)
                      // console.log(typeof parseInt(counted.textContent))
                    }

                    // next
                    // if(isCurrentPage<==countPages)
                    if(isCurrentPage==countPages) addLiElement(ulPageId, 'page-item page-next', './list3?pageNo='+isCurrentPage, '›' )
                    else addLiElement(ulPageId, 'page-item page-next', './list3?pageNo='+(isCurrentPage+1), '›' )

                    // ........................................................................................................
                    function addLiElement(ulObj, liClass, aHref, aContent){
                      const liElement = document.createElement('li')
                      liElement.setAttribute('class', liClass)

                      const aElement = document.createElement('a')
                      aElement.setAttribute('class', 'page-link')
                      aElement.setAttribute('aria-label', 'to page'+aContent)
                      aElement.setAttribute('href', aHref)
                      aElement.textContent = aContent

                      liElement.appendChild(aElement)
                      ulObj.appendChild(liElement)
                    }
                    </script>
                    <!-- ................................................................................................................................... -->

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </body>

      </html>
