<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="struts_blank" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
         http://java.sun.com/xml/ns/j2ee
		 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Hello Spring MVC</display-name>

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:config/dispatcher-servlet.xml</param-value>
    </context-param>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Processes application requests -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value></param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>H2Console</servlet-name>
        <servlet-class>org.h2.server.web.WebServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>H2Console</servlet-name>
        <url-pattern>/h2/*</url-pattern>
    </servlet-mapping>

    <servlet>   <!-- статус логгера ./lbClassicStatus https://logback.qos.ch/manual/configuration.html -->
        <servlet-name>ViewStatusMessages</servlet-name>
        <servlet-class>ch.qos.logback.classic.ViewStatusMessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewStatusMessages</servlet-name>
        <url-pattern>/lbClassicStatus</url-pattern>
    </servlet-mapping>

    <!-- Security Config -->
    <!-- https://docs.spring.io/spring-security/site/docs/5.2.0.RELEASE/guides/html5/ -->
    <!-- https://docs.spring.io/spring-security/site/docs/5.2.0.RELEASE/guides/html5/helloworld-xml.html -->
    <!-- Adds a ContextLoaderListener that loads the security-config-xml. -->
    <!--    <filter>-->
    <!--        <filter-name>springSecurityFilterChain</filter-name>-->
    <!--        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    <!--        &lt;!&ndash;        <init-param>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <param-name>targetBeanName</param-name>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <param-value>customFilter</param-value>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </init-param>&ndash;&gt;-->
    <!--    </filter>-->
    <!--    <filter-mapping>-->
    <!--        <filter-name>springSecurityFilterChain</filter-name>-->
    <!--        <url-pattern>/*</url-pattern>-->
    <!--    </filter-mapping>-->

</web-app>