<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="'Hello ' + ${name} + '!'"></title>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h2 class="hello-title" th:text="'Hello ' + ${name} + '!'"></h2>
<script th:src="@{/resources/js/script.js}"></script>

<ul>
    <li>
        <a href="./">main</a>
    </li>
    <li>
        <a href="./hello">hello</a>
    </li>
    <li>
        <a href="./hello2">hello2</a>
    </li>
    <li>
        <a href="./home">home</a>
    </li>
    <li>
        <a href="./spitter">spitter</a>
    </li>
    <li>
        <a href="./spitter/spittles">spittles</a>
    </li>
    <li>
        <a href="./spittles/list">spittles/list</a>
    </li>
    <li>
        <a href="./h2">H2</a>
    </li>
</ul>
</body>
</html>